.section2 {
    width: 100%;
    margin: 50px 0;

    .sec2con {
        width: 100%;

        .other{
            width: 20%;
            display: flex;
            justify-content: space-between;
            margin-left: 40%;
            margin-bottom: 50px;
            #search, .sort{
                height: 30px;
                padding-left: 5px;
                outline: none;
            }
        }

        .card {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 20px;

            div {
                flex: 1 1 calc(25% - 20px);
                max-width: calc(25% - 20px);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 10px;
                padding: 10px;
                text-align: center;
                border: 2px solid white;

                span{
                    width: 50%;
                    height: 30px;
                    display: flex;
                    justify-content: space-between;
                    opacity: 0;
                    transition: all 0.3s ease;
                    a{
                        color: black;
                        font-size: 24px;
                        &:hover{
                            transform: scale(1.2);
                        }
                    }
                }

                img {
                    width: 64px;
                    height: 64px;
                }
                h2{
                    font-weight: 400;
                }
                p{
                    color: rgb(66, 66, 66);
                }
                &:hover{
                    border: 2px solid black;
                    border-radius: 15px;
                    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
                    span{
                        opacity: 1;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 992px) and (min-width: 561px) {
    .section2{
        .sec2con{
            .card{
                div{
                    flex: 1 1 calc(50% - 20px);
                    max-width: calc(50% - 20px);
                }
            }
        }
    }
}

@media screen and (max-width: 560px) {
    .section2{
        .sec2con{
            .card{
                div{
                    flex: 1 1 100%;
                    max-width: 100%;
                }
            }
        }
    }
}